@{
    ViewData["Title"] = "Home";
}
@section scripts {
    <script src="/js/loader.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/bookmark.js"></script>
    <script src="/js/stats.js"></script>
}

<div class="container" id="main">

    <div class="col-lg-3" id="searchModule">
        <h3 class="desc">| Recherche</h3>
        <form id="search">
            <input type="text" id="searchBar" placeholder="Nom du projet" required />
            <input type="submit" />
            <br />
            <a href="#" id="bookmark" onclick="getBookmarks()">Mon projet</a>
        </form>
        <div id="searchLoader" class="loader"></div>
        <div id="searchResult">
            <div class="searchResult">
                <h3 class="projectName">-------------</h3><span class="projectStars">**</span>
                <img class="projectStarsImg" src="/images/star.png">
                <img class="projectOwnerImg" src="https://avatars0.githubusercontent.com/u/24939397?v=4">
                <span class="projectOwner">-----</span>
            </div>
        </div>
        <button href='#' id='moreResult' disabled>Voir plus</button>
    </div>


    <div class="col-md-6 graphModule">
        <h3 class="desc">| Statistiques</h3>
        <div id="statsLoader" class="loader"></div>
        <div class="button">
            <h4 id="projectName"></h4><br />
            <a href="#" onclick="clearGraph()">Vider le graphe</a>
        </div>
        <div class="graph">
            <div id="graphPlotly"></div>
        </div>
    </div>


    <div class="col-md-3 graphModule">
        <h3 class="desc">| Contributeurs</h3>
        <div class="graph" id="contributors">
            <div class="contributor">
                <img class="projectOwnerImg" src="https://avatars1.githubusercontent.com/u/21154204?v=4">
                <span class="projectOwner">--------</span>
                <span class="nbCommits">**</span>
            </div>
            <div class="contributor">
                <img class="projectOwnerImg" src="https://avatars2.githubusercontent.com/u/24832819?v=4">
                <span class="projectOwner">--------</span>
                <span class="nbCommits">**</span>
            </div>
            <div class="contributor">
                <img class="projectOwnerImg" src="https://avatars3.githubusercontent.com/u/25106905?v=4">
                <span class="projectOwner">--------</span>
                <span class="nbCommits">**</span>
            </div>
        </div>
    </div>

</div>

