/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-color: #EFEFEF;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


#searchModule {
    padding:0px;
}
#main {
    position:absolute;
    width:100%;
    margin:auto;
}
.container {
    padding:0px;
}
#stats {
}
.graph {
    height: 400px;
    border: 1px solid #DFE0E0;
    background: white;
    border-radius: 3px;
    margin: 14px 0px;
    padding: 5px 12px;
}
.graphModule {
    float: right;
}
#searchResult {
    overflow-y: scroll;
    padding-left: 5px;
}

.searchResult {
    height: 125px;
    border: 1px solid #DFE0E0;
    background:white;
    border-radius: 3px;
    margin: 14px 0px;
    padding: 5px 12px;
}

.projectStars {
    float: right;
    font-size:18px;
}
.projectStarsImg {
    float: right;
    width: 20px;
    margin-right: 8px;
}
.projectOwnerImg {
    width:30px;
}
.projectOwner {
    margin-left: 10px;
}
#header {
    margin-left:10px;
}
#title {
    font-family: 'Bree Serif', serif;
    display: inline-block;
    margin-top: 5px;
}

#search {
    background-color: #DD4C58;
    text-align: center;
    padding: 10px 0px;
}


/* Scrolling for searchResult */


    #searchResult::-webkit-scrollbar-track {
        background-color: #EFEFEF;
    }

    #searchResult::-webkit-scrollbar {
        width: 6px;
        background-color: #A3A2A3;
    }

    #searchResult::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #A3A2A3;
    }
