/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-color: #EFEFEF;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


#searchModule {
    padding-left: 15px;
}
#main {
    position:absolute;
    width:100%;
    margin:auto;
}
.container {
    padding:0px;
}
#stats {
}
.button {
    text-align:center;
    background:white;
}
.graph {
    border-bottom: 1px solid #DFE0E0;
    background: white;
    padding: 5px 12px;
    padding-bottom:40px;
}
.graphModule {
}
#searchResult {
    max-height: 700px;
    overflow-y: scroll;
}
.loader {
    height: 4px;
    width: 100%;
    background: white;
}
.searchResult {
    height: 100px;
    border-bottom: 1px solid #DFE0E0;
    background:white;
    padding: 5px 10px;
}

.projectStars {
    float: right;
    font-size:18px;
}
.projectStarsImg {
    float: right;
    width: 20px;
    margin-right: 8px;
}
.projectOwnerImg {
    width:30px;
}
.projectOwner {
    margin-left: 10px;
}
#header {
    text-align: center;
    background: #333;
    color: white;
}
#logo {
    height: 40px;
    padding-right: 10px;
    margin-top: -18px;
}
#title {
    font-family: 'Bree Serif', serif;
    display: inline-block;
    margin-top:5px;
}

.desc {
    font-family: 'Bree Serif', serif;
}

#search {
    background-color: #2D2D2D;
    text-align: center;
    padding: 10px 0px;
}

#bookmark {
    color: white;
    margin-top:8px;
    display:block;
}

#contributors {
    max-height: 700px;
    overflow-y: scroll;
}

.contributor {
    margin-top:10px;
}
h4.contributor, h4.nbCommits{
    display: inline-block;
}
.nbCommits {
    float: right;
}

#graphPlotly {
    width: 100%;
    height: 450px;
}

#contributors::-webkit-scrollbar-track {
    background-color: #EFEFEF;
}
#searchResult::-webkit-scrollbar-track {
    background-color: white;
}
    #contributors::-webkit-scrollbar, #searchResult::-webkit-scrollbar{
    width: 6px;
    background-color: #A3A2A3;
}

#contributors::-webkit-scrollbar-thumb, #searchResult::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #A3A2A3;
}